node_modules/
frontend/node_modules/
package-lock.json
.venv/
*.env
.idea/
__pycache__/
*.pkl
secrets/
manager/metrics
*.jsonl
*.msgpack
metrics/
*.csv
*.png
*.jpg
*.jpeg
*.pdf
experiments/1_figures
experiments/2_figures
experiments/3_figures
.vscode