fastapi
docker
python-multipart
scikit-learn
tensorflow
tensorflow.keras
retry
colorlog
rich
aiofiles
httpx
fastapi-cache2
torch
torchvision
tqdm
sse-starlette
uvicorn
uvloop
uvicorn[standard]
sphinxmix
aiohttp